[submodule "services/studio"]
	path = services/studio
	url = https://github.com/Nuralyio/studio.git
	branch = main

[submodule "services/api"]
	path = services/api
	url = https://github.com/Nuralyio/api.git
	branch = main

[submodule "services/functions"]
	path = services/functions
	url = https://github.com/Nuralyio/functions.git
	branch = main

[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/Nuralyio/gateway.git
	branch = main
[submodule "services/docs"]
	path = services/docs
	url = https://github.com/Nuralyio/docs.git
