[submodule "services/studio"]
	path = services/studio
	url = git@github.com:Nuralyio/studio.git
	branch = main

[submodule "services/api"]
	path = services/api
	url = git@github.com:Nuralyio/api.git
	branch = main

[submodule "services/functions"]
	path = services/functions
	url = git@github.com:Nuralyio/functions.git
	branch = main

[submodule "services/gateway"]
	path = services/gateway
	url = git@github.com:Nuralyio/gateway.git
	branch = main
[submodule "services/docs"]
	path = services/docs
	url = git@github.com:Nuralyio/docs.git
