---
import Layout from "./Layout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="max-w-screen-xl H-full flex flex-wrap mx-auto">
    <slot name="top" />
  </div>
  <div class="flex min-h-screen flex-row bg-gray-100 text-gray-800">
    <aside
      class="sidebar w-80 -translate-x-full transform bg-gray-100 p-4 transition-transform duration-150 ease-in md:translate-x-0 md:shadow-md"
    >
      <div class="my-4 w-full text-center">
        <span class="font-mono text-xl font-bold tracking-widest"> </span>
      </div>

      <div class="my-4"><slot name="left" /></div>
    </aside>
    <main
      class="main -ml-48 flex flex-grow flex-col p-4 transition-all duration-150 ease-in md:ml-0"
    >
      <div class="flex h-full bg-white text-center shadow-md">
        <slot name="main" />
      </div>
    </main>
    <aside
      class="sidebar w-80 -translate-x-full transform bg-gray-100 p-4 transition-transform duration-150 ease-in md:translate-x-0 md:shadow-md"
    >
      <div class="my-4 w-full text-center">
        <span class="font-mono text-xl font-bold tracking-widest"> </span>
      </div>
      <div class="my-4"><slot name="right" /></div>
    </aside>
  </div>
</Layout>
