---
import Make from "../../../make.astro";
//mport "../../../components/shared/blocks/CodeEditor/CodeEditor";
import {loadApplication} from "$services/applications.service"
import NotFount from '../../../not-found.astro';
// here we will handle the routing
const { title, id, urls = "" } = Astro.params;
console.log('id',id)
let request = urls?.split("?") ;
let search = "";
let contextParam = "";

if (request.length > 1) {
	contextParam = urls[0];
	search = urls[1];
} else {
	contextParam = urls;
}

const searchQuery = new URLSearchParams(search);
let applicationResponse
if(id){
	const result = await loadApplication(Astro.request.headers, id)
	if(result.data){
		applicationResponse = result.data
	}
}
---

<div>
  {applicationResponse?.uuid && <Make app={applicationResponse} />}
  {!applicationResponse?.uuid && <NotFount />}
</div>


<script define:vars={{ applicationResponse}}>
	window.applicationResponse = applicationResponse;

</script>