---
import MakeLayout from "../../../_layouts/MakeLayout.astro";

import "@studio/panels/main-panel/EditorInteractivePanel";
import { TabsPanel } from "@studio/panels/main-panel/TabsPanel";
import { TopbarPanelWrapper } from "@studio/panels/top-bar/TopbarWrapper/TopbarWrapper";
import { LeftPanel } from "@studio/panels/layout/LeftPanel";
import { RightPanel } from "@studio/panels/layout/RightPanel";
import { $pages } from "@shared/redux/store/page"
import { $components } from "@shared/redux/store/component/store";
import { $applications } from "@shared/redux/store/apps";
import { processHeaders } from "@shared/utils/api-calls-utils";
import { fetchAllApplications, fetchApplicationPagesById, fetchApplicationComponentById } from "@services";
import { EditorSpinner } from '@studio/panels/layout/EditorSpinner'
import { ApplicationNotFound } from "@services/applications/exceptions/ApplicationNotFound";
const { title, uuid, urls = "" } = Astro.params;
const functionAppUUID = process.env.FUNCTION_APP_UUID;
const functionPageUUID = process.env.FUNCTION_PAGE_UUID;
const files_modules_config = process.env.FILES_MODULES_CONFIG;
let  FILES_MODULES_CONFIG
try{
  if (files_modules_config) {
     FILES_MODULES_CONFIG = JSON.parse(files_modules_config);
  } else {
    console.log('FILES_MODULES_CONFIG is not defined');
  }
} catch (error) {
  console.error('Error parsing FILES_MODULES_CONFIG:', error);
}
const filesAppUUID = process.env.FILES_APP_UUID;
const filesPageUUID = process.env.FILES_PAGE_UUID;
const filesModulesConfig = FILES_MODULES_CONFIG;


// TODO: handle error
const processedHeaders = processHeaders(Astro.request.headers);

let pageData, componentData, applications, application;
let occurredError = null;
try {

  // Load application pages, components, and applications in parallel
  const [pageRequest, componentResponse, applicationsRequest] =
    await Promise.all([
    fetchApplicationPagesById(processedHeaders, uuid),
    fetchApplicationComponentById(processedHeaders, uuid),
    fetchAllApplications(processedHeaders)
  ]);

  // Handle page data
  pageData = pageRequest.data;
  $pages.set(pageData);

  // Handle component data
  componentData = componentResponse.data.map((component) => component.component);
  $components.set({ [uuid]: componentData });

  // Handle applications data
  applications = applicationsRequest.data;
  $applications.set(applications);
  application = applications.find((application) => application.uuid === uuid);

} catch (error) {

  if(error instanceof ApplicationNotFound) {
    // Handle application not found here
    console.error("Application not found:", error);
    occurredError = "not-found";
  }
}
---

<head> <title>Nuraly - Editing {application?.name}</title> </head>
<script is:inline define:vars={{ pageData, componentData, applications, application , functionAppUUID,functionPageUUID, filesAppUUID,filesPageUUID,filesModulesConfig, urls }}>
  window.__INITIAL_PAGE_STATE__ = JSON.stringify(pageData);
  window.__INITIAL_COMPONENT_STATE__ = JSON.stringify(componentData);
  window.__INITIAL_APPLICATION_STATE__ = JSON.stringify(applications);
  window.__INITIAL_CURRENT_APPLICATION_STATE__ = JSON.stringify(application);
  window.__FUNCTION_APP_UUID__ = functionAppUUID;
  window.__FUNCTION_PAGE_UUID__ = functionPageUUID;
  window.__MODULES_CONFIG__ = filesModulesConfig;

  window.__FILES_APP_UUID__ = filesAppUUID;
  window.__FILES_PAGE_UUID__ = filesPageUUID;

  window.__URL__ = urls;
</script>
<MakeLayout title="Make Apps">
  {(() => {
    switch (occurredError) {
      case "not-found":
        return (
          <div class="flex flex-col justify-center items-center h-screen text-gray-800 bg-gray-100 space-y-4">
            <h1 class="text-2xl font-bold">Application Not Found</h1>
            <p>Please check the application ID or try again later.</p>
          </div>
        );
      case "authorization":
        return (
          <div class="flex justify-center items-center h-screen text-gray-800 bg-gray-100">
            <h1 class="text-2xl font-bold">Unauthorized</h1>
            <p>You do not have permission to access this application.</p>
          </div>
        );
      case "unknown":
        return (
          <div class="flex flex-col justify-center items-center h-screen text-gray-800 bg-gray-100 space-y-4">
            <h1 class="text-2xl font-bold">Unexpected Error</h1>
            <p>Something went wrong. Please try again later.</p>
          </div>
        );
      default:
        return (
          <div class="H-full flex flex-wrap" style="margin: 0; padding: 0;">
            <TopbarPanelWrapper client:load>
              <div
                class="border border-blue-300 shadow rounded-md"
                style="width: 98vw; margin-top: 4%;"
              >
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="space-y-3">
                      <div class="grid grid-cols-3 gap-4">
                        <div class="h-2 bg-slate-500 rounded col-span-2"></div>
                        <div class="h-2 bg-slate-500 rounded col-span-1"></div>
                      </div>
                      <div class="h-2 bg-slate-500 rounded"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="border border-blue-300 shadow rounded-md"
                style="width: 98vw;"
              >
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="space-y-3">
                      <div class="grid grid-cols-3 gap-4">
                        <div class="h-2 bg-slate-500 rounded col-span-2"></div>
                        <div class="h-2 bg-slate-500 rounded col-span-1"></div>
                      </div>
                      <div class="h-2 bg-slate-500 rounded"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="border border-blue-300 shadow rounded-md"
                style="width: 98vw;"
              >
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="space-y-3">
                      <div class="grid grid-cols-3 gap-4">
                        <div class="h-2 bg-slate-500 rounded col-span-2"></div>
                        <div class="h-2 bg-slate-500 rounded col-span-1"></div>
                      </div>
                      <div class="h-2 bg-slate-500 rounded"></div>
                    </div>
                  </div>
                </div>
              </div>
            </TopbarPanelWrapper>
          </div>
          <div class="flex flex-row text-gray-800" style="height: calc(100vh - 41px); max-height: calc(100vh - 41px); overflow: hidden;">
            <LeftPanel client:load />
            <main
              class=""
              style="height: 100%; overflow-y: auto;"
            >
              <TabsPanel client:only="lit" />
              <EditorSpinner client:load data=`${applications}`/>
            </main>
            <RightPanel client:load />
          </div>
        );
    }
  })()}
</MakeLayout>


<style>
  .flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.h-screen {
  height: 100vh;
}

.h-2 {
  height: 0.5rem; /* 8px */
}

.text-gray-800 {
  color: #1f2937;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-slate-500 {
  background-color: #64748b;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1.5rem;
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.75rem;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 1rem;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-4 {
  gap: 1rem;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-blue-300 {
  border-color: #93c5fd;
}

.p-4 {
  padding: 1rem;
}

.m-4 {
  margin: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.transition-all {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.duration-150 {
  transition-duration: 150ms;
}

.ease-in {
  transition-timing-function: ease-in;
}

.md\:ml-0 {
  /* for medium screens and above */
  margin-left: 0;
}

.w-\[98vw\] {
  width: 98vw;
}

.mt-\[4\%\] {
  margin-top: 4%;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
html {
    --nuraly-button-ghost-text-color: #525252;
    height: 100vh;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  body {
    --nuraly-tabs-content-background-color: #313131;
    
    background: #313131;
    height: 100vh;

  }
  html {
    background: #1e293b;
  }
}
</style>
