---
import View from "../view.astro";
import { $currentPageId, $pages, $resetPageStore } from "../../../../store/page/store";
import { loadApplication } from "$services/applications.service";
import { loadApplicationPages } from "$services/page.service";


import { allTasks } from "nanostores";
import { $componentWithChildrens, $components } from "$store/component/sotre";
import { loadPageComponent } from "$services/component.service";
// $resetPageStore()

const { title, id, urls = "" } = Astro.params;
let request = urls?.split("?");
let search = "";
let contextParam = "";

if (request.length > 1) {
	contextParam = urls[0];
	search = urls[1];
} else {
	contextParam = urls;
}

const searchQuery = new URLSearchParams(search);
let applicationResponse;
if (id) {
	const headers = {};
	Astro.request.headers.forEach((value, key) => {
		headers[key] = value;
	});
	delete headers["connection"];

	if (id) {
		const result = await loadApplication(headers, id);
		if (result.data) {
			applicationResponse = result.data;
			const pagesResponse = await loadApplicationPages(headers, id);
			if(pagesResponse.data) {
				$pages.set(pagesResponse.data);
				if(applicationResponse.default_page_uuid) {
					$currentPageId.set(applicationResponse.default_page_uuid);
					const componentResponce	= await loadPageComponent(headers, id);
					if(componentResponce.data) {
						$components.set([...componentResponce.data.map((c)=>c.component)]);
					}
				}
			}
		}
	}
}

---

<div>
	{applicationResponse?.uuid && <View app={applicationResponse} />}
	{!applicationResponse?.uuid && <div>Not Found</div>}
</div>

<script define:vars={{ applicationResponse, componentData : $components.get() }}>
	window.applicationResponse = applicationResponse;
	window.__INITIAL_COMPONENT_STATE__ = JSON.stringify(componentData);
	
</script>
