---
import { ApplicationList } from "./applications/ApplicationList";
import { fetchAllApplications } from "@services/applications.service";
import { processHeaders } from "utils/api-calls-utils";
import { $applications } from "$store/apps";

const processedHeaders = processHeaders(Astro.request.headers);

let applications = [];
let error = false;
const result = await fetchAllApplications(processedHeaders);
if (result.data) {
  $applications.set(result.data); 
  
} else {
  console.log(result)
  error = true;
}
applications = result.data;
console.log($applications.get())
---
<head>
  <title>Nuraly - applications</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
</head>

<div>
  <div>
    {error && <div>Something seriously bad happened</div>}
    {!error && <ApplicationList client:idle />}
  </div>
</div>

<script define:vars={{ applications }}>
  window.__INITIAL_APPLICATION_STATE__ = JSON.stringify(applications);
</script>
