---
import Layout from './_layouts/LandingLayout.astro';
import "../core/micro-app";
import { MicroApp } from '../core/micro-app';
import { processHeaders } from 'utils/api-calls-utils';
import { fetchApplicationPagesById } from '$services/page.service';
const { page_url } = Astro.props;
const processedHeaders = processHeaders(Astro.request.headers);

let pageData = [];

try {
  // todo: make the default app dynamic
  const pageRequest = await fetchApplicationPagesById(processedHeaders, '8639f6d5-9171-41e4-a21c-447c8c1b62c2');
  pageData = pageRequest.data;
} catch (error) {
  console.error('An error occurred while loading data:', error);
}
const page = pageData.find((page) => page.url === page_url);
---
<Layout title="Welcome to Astrolus.">
  <MicroApp
  client:load
  mode="preview"
  uuid="landing"
  page_uuid={page?.uuid}
 ></MicroApp>
 <a href="/dashboard"> Login</a>
</Layout>
<style>
  html {
    overflow: hidden;
  }
  @media (prefers-color-scheme: dark) {
      html {
        --hybrid-tabs-content-background-color: #313131;
      background: #313131;

        color:#f8fafc;
      }
    }
</style>