---
import Layout from './layouts/LandingLayout.astro';
import "../components/micro-app";
import { MicroApp } from '../components/micro-app';
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-10 mb-40">

  <MicroApp
  client:load
  mode="preview"
  uuid="landing"
 ></MicroApp>
  </main>
  
</Layout>
<style>
  html {
    overflow: hidden;
  }
  @media (prefers-color-scheme: dark) {
      html {
        --hybrid-tabs-content-background-color: #313131;
      background: #313131;

        color:#f8fafc;
      }
    }
</style>