---
import Stats from '../components/landing/Stats.astro';
import Features from '../components/landing/Features.astro';
import HeroSection from '../components/landing/HeroSection.astro';
import Layout from '../layouts/LandingLayout.astro';
import Testimonials from '../components/landing/Testimonials.astro';
import CallToAction from '../components/landing/CallToAction.astro';
import Blog from '../components/landing/Blog.astro';
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-10 mb-40">
    <HeroSection/>
    <Features/>
    <!-- <Stats/> -->
    <!-- <Testimonials/> -->
    <CallToAction/>
    <Blog/>
  </main>
</Layout>