---
import MakeLayout from "../layouts/MakeLayout.astro";
import "../components/pages/make/MainPanel/EditorInteractivePanel";
import { TabsPanel } from "../components/pages/make/MainPanel/TabsPanel";
import "@hybridui/button";
import { TopbarPanelWrapper } from "../components/pages/make/TopBar/TopbarWrapper/TopbarWrapper";
import { LeftPanel } from "../components/pages/make/Layout/LeftPanel";
import { RightPanel } from "../components/pages/make/Layout/RightPanel";
import { $pages, $resetPageStore } from "../store/page/store";
import { allTasks } from "nanostores";
import { $components } from "$store/component/sotre";
import { $applications } from '$store/apps';

const cookie = Astro.request.headers.get("Cookie");
const headers = {};
Astro.request.headers.forEach((value, key) => {
  headers[key] = value;
});
const {app} = Astro.props;
console.log(app);


delete headers["connection"];
const pageResponse = await fetch(`http://${process.env.NURALY_SERVICES_HOST || "localhost"}/api/pages/${app.uuid}`, {
  headers: {
    ...headers,
    Cookie: cookie,
  },
});

const pageData = await pageResponse.json();
$pages.set(pageData);

const componentResponse = await fetch(`http://${process.env.NURALY_SERVICES_HOST || "localhost"}/api/components/${app.uuid}`, {
  headers: {
    ...headers,
    Cookie: cookie,
  },
});

let componentData = await componentResponse.json()

componentData = componentData.map((component) => {
  return component.component;
});
$components.set(componentData);
const applciationsResponse = await fetch(`http://${process.env.NURALY_SERVICES_HOST || "localhost"}/api/applications`, {
  headers: {
    ...headers,
    Cookie: cookie,
  },
});

 const applications = await applciationsResponse.json();
 $applications.set(applications); 
 const application = applications.find((application) => application.uuid === app.uuid);
 

// $resetPageStore()

---
<head> <title>Nuraly - Editing {app.name}</title> </head>
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-neutral-900 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
        <a href="/#home" aria-label="logo" class="flex items-center space-x-2">
                        <div aria-hidden="true" class="flex space-x-1">
                            <!-- <div class="h-4 w-4 rounded-full bg-gray-900 dark:bg-white"></div> -->
                            <div class="h-6 w-2 bg-primary"></div>
                        </div>
                        <span class="text-2xl font-bold text-gray-900 dark:text-white">Nuraly</span>
                    </a>
      </div>
      <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
              </button>
            </div>
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  Neil Sims
                </p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  neil.sims@flowbite.com
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Applications</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Providers</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</nav>
<MakeLayout title="Make Apps">
  <div class="H-full flex flex-wrap mx-auto" style="    margin-top: 58px;
">
    <TopbarPanelWrapper client:load>
      

 <div class="border border-blue-300 shadow rounded-md p-4 m-4" style="width :98vw; margin-top: 4%;">
  <div class="animate-pulse flex space-x-4">
    <div class="flex-1 space-y-6 py-1">
      <div class="space-y-3">
        <div class="grid grid-cols-3 gap-4">
          <div class="h-2 bg-slate-500 rounded col-span-2"></div>
          <div class="h-2 bg-slate-500 rounded col-span-1"></div>
        </div>
        <div class="h-2 bg-slate-500 rounded"></div>
      </div>
    </div>
  </div>
</div>
 <div class="border border-blue-300 shadow rounded-md p-4 m-4" style="width :98vw; ">
  <div class="animate-pulse flex space-x-4">
    <div class="flex-1 space-y-6 py-1">
      <div class="space-y-3">
        <div class="grid grid-cols-3 gap-4">
          <div class="h-2 bg-slate-500 rounded col-span-2"></div>
          <div class="h-2 bg-slate-500 rounded col-span-1"></div>
        </div>
        <div class="h-2 bg-slate-500 rounded"></div>
      </div>
    </div>
  </div>
</div>
 <div class="border border-blue-300 shadow rounded-md p-4 m-4" style="width :98vw; ">
  <div class="animate-pulse flex space-x-4">
    <div class="flex-1 space-y-6 py-1">
      <div class="space-y-3">
        <div class="grid grid-cols-3 gap-4">
          <div class="h-2 bg-slate-500 rounded col-span-2"></div>
          <div class="h-2 bg-slate-500 rounded col-span-1"></div>
        </div>
        <div class="h-2 bg-slate-500 rounded"></div>
      </div>
    </div>
  </div>
</div>

    </TopbarPanelWrapper>
  </div>
  <div class="flex flex-row text-gray-800">
    <LeftPanel client:load />
    <main
      class="main flex flex-grow flex-col transition-all duration-150 ease-in md:ml-0"
    >
      <TabsPanel client:only="lit" />
    </main>
    <RightPanel client:only="lit" />
  </div>
</MakeLayout>
<script define:vars={{ pageData, componentData, applications, application }}>
  window.__INITIAL_PAGE_STATE__ = JSON.stringify(pageData);
  window.__INITIAL_COMPONENT_STATE__ = JSON.stringify(componentData);
  window.__INITIAL_APPLICATION_STATE__ = JSON.stringify(applications);
  window.__INITIAL_CURRENT_APPLICATION_STATE__ = JSON.stringify(application);


  if ("serviceWorker" in navigator) {
    window.addEventListener("load", function () {
      navigator.serviceWorker
        .register("/custom-sw.js")
        .then(function (registration) {
          console.log("SW registered: ", registration);
        })
        .catch(function (registrationError) {
          console.log("SW registration failed: ", registrationError);
        });
    });
  }
</script>
<style>
  html {
    overflow: hidden;
  }
</style>
