---
import Container from "components/landing/Container.astro";
import LandingLayout from "../layouts/LandingLayout.astro";
---
<div>
<LandingLayout>
    <Container>
            <div style="  padding-top : 200px; color: white">
                <div
                    class="grid place-items-center"
                >
                    <h1 class="display-1">404</h1>
                    <h2>Page not found</h2>
                    <p>
                        Either the application is Not Found or you dont have
                        access
                    </p>
                    <a href="/" class="btn btn-primary">home page</a>
                </div>
            </div>
    </Container>
</LandingLayout>
</div>