/**
 * Default Theme - Alert Component - Dark Mode
 */

[data-theme="default-dark"] {
  /* ========================================
   * ALERT DARK MODE COLORS
   * ======================================== */

  /* Success alert - adjusted for dark mode */
  --nuraly-color-success: #49aa19;
  --nuraly-color-success-light: #162312;
  --nuraly-color-success-dark: #95de64;

  /* Info alert - adjusted for dark mode */
  --nuraly-color-info: #177ddc;
  --nuraly-color-info-light: #111b26;
  --nuraly-color-info-dark: #69c0ff;

  /* Warning alert - adjusted for dark mode */
  --nuraly-color-warning: #d89614;
  --nuraly-color-warning-light: #2b2111;
  --nuraly-color-warning-dark: #ffc53d;

  /* Error alert - adjusted for dark mode */
  --nuraly-color-error: #d32029;
  --nuraly-color-error-light: #2a1215;
  --nuraly-color-error-dark: #ff7875;
}
